.objectRoot {
  .objectForm {
    display: flex;
  }
}
.unstableObjectRoot {
  .unstableObjectForm {
    display: flex;
  }
}
.arrayRoot {
  .arrayItem {
    display: flex;
    
  }
}
.commonRmBtn {
  display: inline-block;
}
.commonAddBtn {
  display: block;
  
}